.upInfinte {
	&.speed-1 {
		animation: 44s linear infinite slideUpLv1;
	}
	
	&.speed-2 {
		animation: 56s linear infinite slideUpLv2;
	}

	&.speed-3 {
		animation: 67s linear infinite slideUpLv3;
	}

	&.fast-speed {
		animation: 5s linear infinite slideUpLv3;
	}

	animation: 7s linear infinite slideUpLv1;
	animation-iteration-count: infinite;
}

@keyframes slideUpLv1 {
	0% {}

	100% {
		top: -2640px;
	}
}
@keyframes slideUpLv2 {
	0% {}

	100% {
		top: -840px;
	}
}
@keyframes slideUpLv3 {
	0% {}

	100% {
		top: -540px;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}