.faqContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// padding: 0 1em;
	gap: 0rem;
	width: 100%;
	margin-bottom: 3rem;
}

.faqcard {
	height: 6.5rem;
	border-radius: 0.25em;
	padding: 1.5em;
	background: #8fd2fc;
	transition: all 0.4s ease-out;

	&:first-of-type {
		background: #70C4F9;
	}

	&:last-of-type {
		background: #BDE6FF;
	}

	.question {
		display: flex;
		color: #0C3447;
		gap: 1rem;
		align-items: middle;
	}

	.questionNumber {
		font-size: 2rem;
		font-weight: 800;
	}

	.questionText {
		display: none;
		transform: rotate(180deg);
		writing-mode: vertical-rl;
		margin-bottom: 2rem;
		font-size: 1.2rem;
		font-weight: 600;
		padding-left: 1rem;
		margin-bottom: 0.75rem;
		color: #0C3447;
		word-wrap: break-word;
	}

	.questionText2 {
		color: #0C3447;
		transition: color 0.5s ease-out;
		transition-delay: 0.35s;
		font-size: 0.875rem;
		font-weight: 600;
		margin: 0.5rem 0 1rem;
	}

	.answer {
		color: transparent;
		transition: color 0.5s ease-out;
		transition-delay: 0.4s;
	}

	&.activeCard {
		height: 25rem;
		background: theme('backgroundColor.tertiary');
		box-shadow: 0px 0px 22px 8px rgba(13, 135, 212, 0.53);

		.questionNumber {
			color: #fad200;
		}

		.questionText {
			display: none;
		}

		.questionText2 {
			color: white;
			width: calc(100% - 4rem);
			font-size: 0.875rem;
			font-weight: 600;
			height: 4rem;
		}

		.answer {
			color: theme('textColor.white');
			font-size: 0.75rem;
		}
	}

}

@media screen and (min-width: 480px) {
	.questionText,
	.questionText2 {
		font-size: 1.25rem !important;
	}

	.answer {
		font-size: 1rem !important;
	}

}

@media screen and (min-width: 768px) {
	.questionText,
	.questionText2 {
		font-size: 1.5rem !important;
		margin-bottom: 0.5rem;
	}

	.answer {
		font-size: 1rem !important;
	}

	.questionNumber {
		font-size: 2rem !important;
	}

}

@media screen and (min-width: 1200px) {
	.faqContainer {
		max-width: 76rem;
		flex-direction: row;
		padding: 0 1.25em;
		margin: 0 1.5em 3rem;
		gap: 0;
	}

	.faqcard {
		width: 33.33%;
		height: 548px;
		overflow: hidden;

		.question {
			flex-direction: column;
		}

		.questionText {
			display: block;
			height: 21rem;
		}

		.questionText2 {
			color: transparent;
		}

		&.activeCard {
			height: unset;
			width: 60rem;

			.question {
				flex-direction: row;
				align-items: middle;

			}
			.questionText2 {
				font-size: 1.5rem !important;
				margin: 2rem 0 0.5rem;
			}
		}
	}

	.answer {
		color: transparent;
		font-size: 1rem !important;
	}

	.questionNumber {
		font-size: 5rem !important;
		font-weight: 800;
	}


}