@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  scroll-behavior: smooth !important;
  scroll-padding-top: 15rem !important;
}
body {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.04em;
  line-height: 160%;
}

*:focus{
  outline: none !important;
}

.imgContainer{
  position:relative;
}

.answer {
  transition: height 0.3s ease-in-out;
  height: 0;
  overflow: hidden;
}

.answer--active {
  height: 250px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
